.rdrDayPassive .rdrDayNumber span {
    color:red;
    }
    .rdrDayDisabled .rdrDayNumber span{
    color:red
    }
    .rdrDayNumber span{
        color:green}
        .rdrMonth {
            height: 340px;
        }    