.goog-te-gadget-icon{
    display: none !important;
}
.indicator{
  display: none !important;
}
.goog-te-combo {
    height: 20px !important;
    width: 20px !important;
    border: none !important;
    background-color: transparent !important;
    color: black !important;
  }
  .text{
    color: black !important;
    background-color: aqua !important;
  }

  .goog-te-combo-arrow {
    display: none !important;
  }

  .goog-te-gadget-icon {
    display: none !important;
  }

  .goog-te-menu-value {
    color: black !important;
  }

  .goog-te-menu-frame.skiptranslate {
    display: none !important;
  }